.banner {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    animation-duration: 0.5s;
}

.signup-banner input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.signup-banner h3 {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.signup-banner p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}

.signup-banner button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

.signup-banner button:hover {
    background-color: #0069d9;
}

.signup-banner .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}
.sign, .no{font-size: 18px;}

@media screen and (max-width: 600px) {
    .signup-banner {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    .signup-banner input[type="email"] {
        margin: 20px 0;
    }

    .signup-banner button {
        margin-top: 20px;
    }
}